body {
}
#main-ctrl{
    height:100%;
}
#main-ctrl > div{
    height:100%;
}
#main-ctrl > div .tab-content {
    height:calc( 100% - 32px );
    /*border:2px red solid;*/
}
#main-ctrl > div .tab-content > .tab-pane{
    height:100%;
    overflow:auto;
}
#main-ctrl > div .tab-content > .tab-pane > .fsta-c{
    height:100%;
    /*background-color:lightgray;*/
}
#main-ctrl .pinctrl, #main-ctrl .pinctrl > * {
    padding: 0 !important;
}
#main-ctrl .pinctrl >*:not(.jsPanel) {
    margin-top:.75rem;
}
#main-ctrl .pinctrl>.jsPanel{
    margin-top:-.4rem;
}
#main-ctrl .pinctrl>.jsPanel >.jsPanel-hdr{
    min-height:auto;
    color:darkblue;
}
#main-ctrl .filter-container, #main-ctrl .filter-container > div, #main-ctrl .jsPanel-content {
    padding: 0 !important;
}

#main-ctrl .jsPanel-hdr .jsPanel-hdr-toolbar>*:not(.meter-list-count){
    display:none;
}
#main-ctrl .pin-list-container tr{
    background-color:transparent !important;
}
#main-ctrl .rain_normal {
    color: blue;
}
#main-ctrl .rain_heavy {
    color: green;
}
#main-ctrl .rain_extremely {
    color: #9ACD32;
}
#main-ctrl .rain_torrential {
    color: orange;
}
#main-ctrl .rain_exttorrential {
    color: red;
}
#main-ctrl .rain_nodata {
    color: gray;
}
#main-ctrl .green_status {
    color: green;
}
#main-ctrl .red_status {
    color: red;
}
#main-ctrl .orange_status {
    color: orange;
}
#main-ctrl .yellow_status {
    /*color: #9ACD32;*/
    color: #FF6600;
}
#main-ctrl .blue_status {
    color: blue;
}
#main-ctrl .gray_status {
    color: gray;
}
#main-ctrl .meter .legend {
    margin-left:0;
}
#main-ctrl .bootstrap-table .fixed-table-container .table thead th .sortable {
    padding-right: 16px !important;
}
.fsta-c{
    display:flex;
    flex-direction:column;
}
.fsta-c > .sta-c {
    height: auto;
    /*border: 1px black solid;*/
    padding: .4rem;
    border-radius: .4rem;
}
.fsta-c > .sta-c-title{
    height:1.5rem;
}
.fsta-c > .sta-c
{
    height: calc( ( 100% - 2rem ) / 4 );
    margin-bottom:.3rem;
    display:flex;
}
 .fsta-c > .sta-c > div{
     width:auto;
 }
.fsta-c > .sta-c > .total{
    flex:5;
}
.fsta-c > .sta-c > .legend{
    flex:1;
}
.fsta-c > .sta-c > .status-name{
    flex:3;
}
.fsta-c > .sta-c > .count{
    flex:1;
    text-align:end;
    padding-right:.3rem;
}
.fsta-c > .r-sta-c {
    background-color: #ffe699;
}
.fsta-c > .w-sta-c {
    background-color: #00b0f0;
}
.fsta-c > .f-sta-c {
    background-color: #a9d18e;
}
.fsta-c > .d-sta-c {
    background-color: #f4b183;
}
.fsta-c > .sta-c{
    cursor:pointer;
}
.fsta-c > .sta-c > *{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.fsta-c > .sta-c > * > *{
    height:3.5vh;
    /*padding:3px 1px;*/
    margin-bottom:3px;
    font-size:2.2vh;
    font-weight:bold;
    color:darkblue;
}
.fsta-c > .sta-c > .legend > img{
    width:3.5vh;
}
.fsta-c > .sta-c > .status-name > *, .fsta-c > .sta-c > .count > * {
    padding-top: .9vh;
}
.fsta-c > .sta-c > .total{
    align-items:center;
}
.fsta-c > .sta-c > .total .title {
    height: 4vh;
    font-size: 2.8vh;
    color: white;
    font-weight: 600;
    padding-top: 2vh;
    text-shadow: .5px .5px 2px darkblue, -0.5px -0.5px 2px darkblue;
}
.fsta-c > .sta-c > .total .t-count {
    flex: auto;
    font-size: 8vh;
    color: white;
    text-decoration: underline;
    display: flex;
    align-items: center;
    font-weight: 200;
    text-shadow: 1px 1px 4px darkblue, -1px -1px 4px darkblue;
}
.near-cb{
    border:1px #eee solid;
    position:absolute;
    right:.5rem;
    margin-top:-0px;
}

input.sensitivity{
    margin-bottom:.15rem;
    font-size:1rem;
}

.leaflet-container .leaflet-marker-pane img.sensitivity-pin {
    border-radius: 20rem;
    box-shadow: -2px 0px .4rem red, 2px 0px .4rem red,0px -2px .4rem red, 0px 2px .4rem red;
   /* animation: twinkle 0.8s infinite alternate;
    -moz-animation: twinkle 0.8s infinite alternate;
    -o-animation: twinkle 0.8s infinite alternate;
    -webkit-animation: twinkle 0.8s infinite alternate;
    animation: twinkle 0.8s infinite alternate;*/
}
