@using Dou.Misc.Extension
<style>
    .edit-profile-container .dou-bootstrap-table {
        display:none;
    }
</style>
<div class="edit-profile-container ">
    @*@Html.DataManagerTable()*@
    @Html.Partial("DouUserPartial")
</div>



